<div class="card text-dark   mb-3">
    <div class="card-header card bg-warning text-white">Détails : {{selectedProduct.name}}</div>
    <div class="card-body">
    <table class="table  table-striped">
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Stock</th>
              <th>Price</th>
            </tr>
            <tr>
              <td>{{selectedProduct.id}}</td>
              <td>{{selectedProduct.name}}</td>
              <td>{{selectedProduct.stock}}</td>
              <td>{{selectedProduct.price}}</td>
          </tr>
          </table>
    </div>
  </div>
